header {
    font: 10pt normal Arial;
}
body {
    font: 18pt normal Arial;
    text-align: center;
    color: azure;
    background: rgb(20, 19, 19);
}
div#res {
    font: Arial 20pt normal;
    margin: 10px;
}
h1::before {
            transform: scaleX(0);
            transform-origin: bottom right;
}
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;            
}
h1::before {
    content: " ";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #ff0042;
    z-index: -1;
    transition: transform .3s ease;
    
}
h1 {            
    position: relative;
    font-size: 4rem;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}
html {
    block-size: 99%;
    inline-size: 99%;
        }
body {
    border-style: double;
    border-radius: 100px;
    border-color: #FF0042;
    background-color: #000000;
    min-block-size: 100%;
    min-inline-size: 50%;
    margin: 30;
    box-sizing: border-box;
    display: center;
    place-content: center;
    font-family: system-ui, sans-serif;
}