html {
    scroll-behavior: smooth;
    block-size: 99%;
    inline-size: 99%;
}
header {
    text-align: center;
    font: Arial 10pt;
    color: #ffffff;
    border-style: double;
    border-radius: 6px;
    border-color: #FF0042;
    transition: 0.5s;
}
header:hover {
    transform: scale(1.5);
    text-align: center;
}
body {
    background-color: #000000;
    min-block-size: 100%;
    min-inline-size: 50%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.subtext {
    font: 18pt normal Arial;
    text-align: left;
    color: azure;
    font: Arial 20pt normal;
    margin: 10px 0;
}
div#res {
    text-align: center;
}
h2 {            
    text-align: center;
    position: relative;
    font-size: 4rem;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}
h2::before {
            transform: scaleX(0);
            transform-origin: bottom right;
}
h2:hover::before {
    transform: scaleX(1.0);
    transform-origin: bottom left;          
}
h2::before {
    content: " ";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #ff0042;
    border-radius: 6px;
    z-index: -1;
    transition: transform .3s ease;
}
.textbox {
    border-radius: 10px;
    color: azure;
    font: 18pt normal Arial;
    width:fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textbox input {
    text-align: center;
    border-radius: 6px;
    border: 1px solid #FF0042;
    color: #ffffff;
    background: transparent;
    outline: none;
}
.textbox .material-symbols-outlined{
    position: absolute;
}
p {
    text-align: center;
}
.button {
    background: transparent;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ff0042;
    transition-duration: 0.5s;
}
.button:hover {
    background-color: #ff0042;
    color: #ffffff;
    border-color: #ffffff;
}
footer {
    font-style: Arial 8px italic;
    color: #ffffff;
    margin: 20px;
}